

{{/* Portfolio Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $items_type := $st.Params.content.page_type | default "post" }}
{{ $items_sort := $st.Params.content.order | default "asc" }}
{{ $items_count := $st.Params.content.count | default 65535 }}



{{/* Require Isotope */}}
{{ $.Page.Store.Set "has_isotope" true }}



{{/* Query */}}
{{ $query := where (where site.RegularPages "Type" $items_type) "Params.featured" true }}



{{ $count := len $query }}

{{/* Sort */}}
{{ $sort_by := ".Params.weight" }}
{{ $query = sort $query $sort_by $items_sort }}


{{/*{{ $test1 := index $query 0 }}*/}}
{{/*{{ $test1.Path }}*/}}
{{/*{{ $test1.Date }}*/}}
{{/*{{ $test1.Title }}*/}}
{{/****  {{ $test1.Section }}---*/}}
{{/****  {{ $test1.Parent.Path | relLangURL }}---*/}}
{{/****  {{ "/pub" | relLangURL }}---*/}}



{{/* Limit */}}
{{ $query = first $items_count $query }}


{{/* Array of distinct years. */}}
{{ range $query.ByDate.Reverse }}
    {{ $year := print (.Date.Format "2006") }}
    {{ $.Store.SetInMap "years" $year $year }}
{{ end }}


<div class="col-12 " >
  <div class="form-row mb-4">
    <div class="col-auto">
      <select name="select-year"
              onchange="filterPubItems(this.value)"
              class="pub-filters form-control form-control-sm"
              style="width: 9rem;"
              data-filter-group="year">
        <option value="*">Year</option>
          {{ $years_sorted := $.Store.GetSortedMapValues "years" }}
          {{ if $years_sorted }}
              {{ range $year := sort $years_sorted "" "desc" }}
                <option value=".year-{{ $year }}">
                    {{ $year }}
                </option>
              {{ end }}
          {{ end }}
      </select>
    </div>
  </div>

  <div class=" container home-pubs-section"  id="container-publications-not-use-default-isotope">


      {{ range  $index, $item := $query }}

          {{ $pub_item := $item.Params }}

          {{/*logical path: Returns the logical path of the given page.*/}}
          {{/*{{ $page_folder := .Path }}*/}}
          {{/*去掉最前面的 / */}}
          {{ $page_folder := substr $item.Path 1 }}



          {{/*cite.bib*/}}
          {{ $cite_resource := $item.Resources.GetMatch "cite.bib" }}

        <div class="row pub-item grid-sizer isotope-item year-{{ $pub_item.Date.Format "2006" }}" style=" ">
          <div class="col-12 col-md-2 pub-image-div-wrap">
            <div class="pub-image-wrap">
              {{ if eq $pub_item.media_icon.type "video" }}
                <video autoplay="" loop="" muted="" playsinline="">
                  <source src="{{ add $page_folder "/" $pub_item.media_icon.src | relLangURL }}" type="video/mp4">
                </video>
              {{ else if strings.HasSuffix $pub_item.media_icon.src ".gif" }}
                {{ $gif_path := add $page_folder "/" $pub_item.media_icon.src }}
                {{ $base := $gif_path | strings.TrimSuffix ".gif" }}
                <video autoplay="" loop="" muted="" playsinline="" class="lazy-video" data-loaded="false">
                  <source data-src="{{ (print $base ".webm") | relLangURL }}" type="video/webm">
                  <source data-src="{{ (print $base ".mp4") | relLangURL }}" type="video/mp4">
                </video>
              {{ else }}
                <img src="{{ add $page_folder "/" $pub_item.media_icon.src | relLangURL }}" loading="lazy"/>
              {{ end }}
            </div>
          </div>
          <div class="col-12 col-md-10">
              <div>
              <div><span class="pub-title">{{ $pub_item.title | markdownify | emojify }}</span></div>
              <div><span class="pub-author">{{ $pub_item.authors_text | markdownify | emojify }}</span></div>
              {{ with $pub_item.journal }}
                  <div><strong class="pub-journal">{{ . | markdownify | emojify }}</strong></div>
              {{ end }}
            </div>

            <div class="toggle-links-content">
              {{ with $pub_item.links }}
                <div class="btn-links">
                  <a class="btn btn-outline-primary btn-page-header btn-sm"
                     href="javascript: togglePaperContent('pub_intro_idx{{$index}}')">
                    <i class="fas fa-angle-double-down" >&nbsp;</i> Intro
                  </a>
                    {{ range $idx, $item := . }}
                      <a class="btn btn-outline-primary btn-page-header btn-sm"
                         href="{{ $item.url }}">
                          {{ $item.name | markdownify | emojify }}
                      </a>
                    {{ end }}
                  {{ with $cite_resource }}
                  <a class="btn btn-outline-primary btn-page-header btn-sm"
                     href="javascript: togglePaperContent('pub_cite_idx{{$index}}')">
                    <i class="fas fa-quote-left"  >&nbsp;</i> Bibtex
                  </a>
                  {{ end }}
                </div>
              {{ end }}

              <div class="toggle-content " id="pub_intro_idx{{$index}}" style="display: none;">
                <div class=" ">{{ $pub_item.intro }}</div>
              </div>

              {{ with $cite_resource }}
              <div  class="toggle-content"  id="pub_cite_idx{{$index}}" style="display: none;">
                <pre>{{ $cite_resource.Content }}</pre>
              </div>
              {{ end }}
            </div>

          </div>
        </div>





      {{ end }}


  </div>
</div>

<script>
  // Lazy-load GIF-replaced videos in publications on page load via IntersectionObserver
  document.addEventListener('DOMContentLoaded', () => {
    const lazyVideos = document.querySelectorAll('#container-publications-not-use-default-isotope video.lazy-video');
    if (!lazyVideos.length) return;

    function loadLazyPubVideo(video) {
      if (video.dataset.loaded !== 'false') return;
      video.querySelectorAll('source[data-src]').forEach(source => {
        source.src = source.dataset.src;
        source.removeAttribute('data-src');
      });
      video.load();
      video.play().catch(() => {});
      video.dataset.loaded = 'true';
    }

    if ('IntersectionObserver' in window) {
      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            loadLazyPubVideo(entry.target);
            observer.unobserve(entry.target);
          }
        });
      }, { rootMargin: '200px' });

      lazyVideos.forEach(v => observer.observe(v));
    } else {
      lazyVideos.forEach(loadLazyPubVideo);
    }
  });
</script>