// Override this file to add your own SCSS styling.
@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: normal;
  src: local("Optima"), url("../font/OPTIMA.woff") format("woff");
}

@font-face {
  font-family: "Optima Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Optima Italic"), url("../font/Optima_Italic.woff") format("woff");
}

@font-face {
  font-family: "Optima Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Optima Medium"), url("../font/Optima-Medium.woff") format("woff");
}

@font-face {
  font-family: "Optima Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Optima Bold"), url("../font/OPTIMA_B.woff") format("woff");
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

html, body {
  font-family: "Optima";
  color: #000000;
  /* background-color: #f8f7debd; */
  font-size: 16px;
}
















// 宽屏 .container 宽度
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1100px;
    padding: 0;
  }
}



.page-body {
  padding: 1.4rem 2.8rem;
  margin: 1.2rem auto;
  /* background-color: #f8f7debd; */
  box-shadow: 0px 0px 1.2rem #999;
  border-radius: 1rem;
}


.page-content-wrap {
  padding: 0;
}


.nav-container-bg {

  border-radius: 10px;
  background-color: #999EA2;
  box-shadow: 0px 0px 20px #999;


}
.navbar .navbar-nav .nav-link {
  font-size: 1.2rem;

}

.navbar-light .navbar-brand {
  font-family: "Optima Bold";
  font-weight: bold;
  color: #004990;
  font-size: 1.5rem;
}


// pc
#navbar-main .main-menu-item.collapse ul {

  li {
    margin: 0 0 0 1.5rem;
    .nav-link {
      color: #ffffff;
      font-family: "Optima Medium";
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

}
// 手机
#navbar-main .main-menu-item.show ul li .nav-link {
  color: #000000;
}

.dark a, .dark h3.article-title a:hover {
  //color: #f76497;
  color: #1565c0;
}


.profile-avatar {
  .profile-bio {
    padding-left: 1rem;
  }
  .avatar-square {
    border-radius: 1.3rem;
    width: 100px;
    height: 200px;
  }

  .big-icon {
    font-size: 1.6rem;
  }

  .network-icon {
    margin-top: 2rem;
  }
  .network-img-icon {
    width: 1.6rem;
  }
  .net-icon-link {
    margin-right: 1rem;
    .animate-icon {
      color: black;
    }
  }

  .email-link {
    padding: 1rem 0;
    a {
      font-family: "Optima Bold";
      font-size: 1.3rem;
      color: #000080;
    }
  }

  .animate-icon:hover, .email-link:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    color: #1565c0;
  }

  .portrait-title h2 {
    font-family: "Optima Bold";
    font-size: 2.25rem;
    font-weight: bold;
    margin: 1.5rem 0 0 0;
  }

  .role-text {
    font-family: "Optima Medium";
    color: #7e8b97;
    font-size: 1rem;
    padding: 1rem 0 0 0;
  }
  .school-text {
    font-family: "Optima Medium";
    color: black;
    font-size: 1rem;
  }

}



.home-section {
  padding: 2rem 0;
  h1 {
    font-size: 2rem;
    font-family: "Optima Bold";
    font-weight: bold;
    color: black;
    padding: 2rem 0 1rem 0 ;
  }
}
.home-section:nth-of-type(even) {
  //background: #f7f7f7;
  background: unset;
}



#recent_news {
  .media.stream-item:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.home-pubs-section {
  .pub-title {
    font-size: 1rem;
    font-family: "Optima Bold";
    font-weight: bold;
  }

  .pub-author {
    font-size: 1rem;
    font-family: "Optima Medium";
  }

  .pub-journal {
    font-style: italic;
    font-family: "Optima Bold";
    color: #a52a2a;
    font-weight: bold;
  }

  .pub-item {
    padding: 0.5rem 0;
  }


  video {
    //height: 8rem;
    //width: 11rem;
    //height: 8rem;
    //background-color: #999;
    //padding: 0.5rem;
  }

  .toggle-links-content{
    position: relative;
    .toggle-content {
      border: 1px solid lightgray;
      padding: 1rem;
      width: 90%;

      pre {
        font-size: 0.8rem;
        color: #000000;
      }
    }
  }

}

@media (min-width: 768px) {
  .col-md-2.pub-image-div-wrap {
    max-width: 12%  ;
  }
}
.pub-image-wrap{

  height: 110px;
  width: 110px;
  margin: 0.4rem 0 0 0rem;
  video, img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #444;

  }
}

.home-research-section {
  .pub-title {
    font-size: 1rem;
    font-family: "Optima Bold";
    font-weight: bold;
  }

  .pub-author {
    font-size: 1rem;
    font-family: "Optima Medium";
  }

  .pub-journal {
    font-style: italic;
    font-family: "Optima Bold";
    color: #a52a2a;
    font-weight: bold;
  }

  .research-step-item {
    padding: 0.5rem 0;






  }


  .nav-pills {
    justify-content: space-between;
    .nav-link {
      padding: 0.1rem;
      font-size: 0.9rem;
      text-align: center;
      flex: 1;
    }
    .nav-item {
      flex: 1;
      cursor: pointer;
      margin: 0.5rem 0.15rem;
      background-color: #f0f0f0;
      border: 1px solid #c0c0c0;
      border-radius: 0.5rem;
      transition: background-color 0.3s, border-color 0.3s;

      display: flex;
      align-items: center;
    }


    .active {
      color: #fff;
      // background-color: #1565c0;
      background-color: #b99470;
    }

  }


  .toggle-links-content{
    position: relative;
    .toggle-content {
      border: 1px solid lightgray;
      padding: 1rem;
      width: 90%;

      pre {
        font-size: 0.8rem;
        color: #000000;
      }
    }
  }
}







@media (max-width: 640px) {

  .header--fixed {
    .container {
      padding-left: 0 ;
      padding-right: 0 ;
    }
  }

  .page-body {
    padding: 1.4rem 1.8rem;
  }


  .profile-avatar .portrait-title h2 {
    font-size: 2rem;
  }

   .pub-image-wrap {
     width: unset !important;
     height: unset !important;
   }

}
